h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  padding: 0;
  margin: 40px 0 0 50px;
}

.header {
  background-color: #000;
  width: 100%;
  height: 150px;
}

.subheader {
  margin-left: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  font-size: 14px;
  margin-top: 0;
}